@import './variables.scss';

::-webkit-scrollbar {
  display: none;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f4f5fa;
  overflow-y: scroll;
}

#root {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.zero-margin {
  margin: 0 !important;
}

.full-width {
  width: 100%;
}

.container {
  padding-left: 10px;
  padding-right: 10px;

  @media (min-width: $m) {
    padding-left: 20px;
    padding-right: 20px;
  }

  @media (min-width: $l) {
    padding-left: 100px;
    padding-right: 100px;
  }

  @media (min-width: $xl) {
    padding-left: 400px;
    padding-right: 400px;
  }

  @media (min-width: $xxl) {
    padding-left: 600px;
    padding-right: 600px;
  }
}