
.header {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 1000;
  background-color: #fff;
  transition: all 0.3s ease;
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}
